/* Player container with fixed size */
.player-container {
  position: relative; /* Ensure the container is relative */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 125px;
  background-color: #3e1642;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
}

.player-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1.1em;
}

.player-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-name {
  color: white;
  font-weight: bold;
}

.player-info {
  flex: 1;
  font-size: 0.9em;
}

.player-money {
  color: gold;
  font-weight: bold;
}

.player-winnings {
  color: green;
  font-weight: bolder;
  margin-left: 4px;
}

.player-cards {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.player-container.dealer::before {
  content: "D";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 30px;
  height: 30px;
  background-color: gold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.player-container.action::before {
  content: "A";
  position: absolute;
  top: -8px;
  right: -8px;
  width: 30px;
  height: 30px;
  background-color: #018749;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* Highlight dealer */
.player-container.winner {
  animation: highlight 1s infinite;
}


.player-container.folded {
  opacity: 60%;
}

.empty-seat {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

/* Highlight animation */
@keyframes highlight {
  0% {
    box-shadow: 0 0 10px 5px yellow;
  }
  50% {
    box-shadow: 0 0 10px 5px orange;
  }
  100% {
    box-shadow: 0 0 10px 5px yellow;
  }
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .player-container {
    width: 90%; /* Full width on mobile */
    height: auto; /* Adjust height dynamically */
    flex-direction: column; /* Stack everything vertically */
    padding: 15px; /* Add some padding */
  }

  .player-top-row {
    justify-content: center; /* Center content */
    gap: 15px;
  }

  .player-avatar {
    display: none; /* Hide the avatar on mobile */
  }

  .player-cards {
    justify-content: center; /* Center cards */
    gap: 8px; /* Space between cards */
  }

  .player-bottom-row {
    flex-direction: column; /* Stack name and money vertically */
    align-items: center;
    gap: 5px; /* Space between name and money */
    margin-top: 10px;
  }

  .player-name,
  .player-money {
    font-size: 0.8rem; /* Adjust font size */
  }
}

